<link rel="stylesheet" href="/css/project_page.css">

<main id="project-<%= project._id %>">
    <div class="header">
        <h2><%= project.name %></h2>
        <div class="options">
            <input type="text" id="bug-search" placeholder="Search by title or description..">
            <div class="dropdown">
                <button class="dropbtn"><i class="fa-solid fa-filter"></i> &nbsp;Filter</button>
                <div class="dropdown-content">
                  <ul>
                    <h3>Labels</h3>
                    <% for(label of labels){ %>
                      <li>
                          <label class="filter label-filter">
                            <%= label %>
                            <input  type="checkbox" id="label-<%= label %>">
                            <span class="checkmark"></span>
                          </label>
                      </li>
                    <% } %>
                  </ul>
                  <ul>
                    <h3>Authors</h3>
                    <% for (author of authors){ %>
                      <li>
                          <label class="filter author-filter">
                            <%= author.name %>
                            <input  type="checkbox" id="author-<%= author._id %>">
                            <span class="checkmark"></span>
                          </label>
                      </li>
                    <% } %>
                  </ul>
                </div>
              </div>  
            <a href="/issue?id=<%= project._id %>" id="create-issue">
                <i class="fa-regular fa-pen-to-square"></i>
                Create Issue
            </a>
        </div>
    </div>
    <div class="issues">
      <% if (project.bugs.length == 0) { %>
        <p class="no-issues-text">No Issues</p>
        <% } %>
      <table>
        <tr>
          <td>Title</td>
          <td>Description</td>
          <td>Labels</td>
          <td>Author</td>
        </tr>
        <% for (bug of project.bugs) { %>
          <tr id="bug-<%= bug._id %>">
            <td class="bug-title">
              <% if(locals.user.id == bug.author.id){ %>
                <a href="/issue/delete/<%= bug._id %>" class="delete-bug">
                  <i class="fa-solid fa-trash-can" ></i>
                </a>
              <% } %>
              <%= bug.title %>
            </td>
            <td>
              <p class="description"><%= bug.description %></p>
            </td>
            <% var labels =""; %>
            <% if(bug.labels.length > 1){ %>
              <td class="labels">
                <% for(let i=0; i < bug.labels.length; i++){ %>
                  <% if(i == bug.labels.length-1){ %>
                    <% labels += bug.labels[i]; %>
                  <% }else{ %>
                    <% labels += bug.labels[i] + ", "; %>
                  <% } %>
                <% } %>
                <%= labels %>
              </td>
              <% }else{ %>
                <td class="labels">
                  <%= bug.labels[0] %>
                </td>
              <% } %>
            <td>
              <%= bug.author.name %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>
</main>

<script src="/js/project_page.js"></script>